<div class="navbar navbar-clear">
    <div class="navbar-inner">
        <div class="left">
            <!--
            <a href="#" class="link back">
                <span class="icon-chevron-left"></span> <span>Voltar</span>
            </a>
            -->
        </div>
        <div class="center sliding">Compra</div>
        <div class="right">
            <!--
            <a href="#" class="link icon-only" data-panel="right">
                <span class="kkicon icon-alarm"></span>
            </a>
            -->
        </div>
    </div>
</div>

<div class="pages">
    <div data-page="purchase-message" class="page">
        
        <div class="page-content">
            <div id="destino-templatePurchaseMessage" style="margin-bottom: 100px; color: #000!important"></div>
        </div>
    
        <div class="toolbar tabbar">
            <div class="toolbar-inner">
                <a href="main.html" class="link active">
                    Ir para a página inicial
                </a>
            </div>
        </div>
        
        <!-- Template -->
        <script type="text/template" id="templatePurchaseMessage">
            {{data.message}}
        </script>
        
    </div>
</div>