<div class="navbar navbar-clear" style="background: transparent;border: 0px!important;height: 44px;">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="link back">
                <i class="fa fa-lg fa-chevron-circle-left"></i>
            </a>
        </div>
        <div class="center sliding"></div>
        <div class="right"></div>
    </div>
</div>

<div class="pages">
    <div data-page="company" class="page">

        <div class="page-content">
            <div id="destino-templateCompany" style="margin-bottom: 50px;"></div>            
        </div>

        <div class="toolbar tabbar color-default" id="tabbar-buy" style="height: 110px;">

            <div class="row">
                <div class="col-50">
                    Pague <strong id="tabbar-buy-pague">R$ 00,00</strong>
                </div>
                <div class="col-50">
                    Receba de volta <strong id="tabbar-buy-de-volta">R$ 0,00</strong>
                </div>
            </div>
            <div class="row">
                <div class="col-10"></div>
                <div class="col-80">
                    <a href="#" class="button button-secondary button-fill" id="buy-submit">COMPRAR</a>
                </div>
                <div class="col-10"></div>
            </div>
        </div>


        <!-- Template com as abas dos produtos produtos -->
        <script type="text/template" id="templateCompany">

            <div class="content-block mt-10" style="margin-bottom: 0px;">
                <div class="buttons-row">
                    {{#each data.produtos}}
                        <a href="#tab{{CB05_ID}}" data-product="{{CB05_ID}}" class="show-tab tab-link button button-secondary {{#if active}}active{{/if}}">{{CB05_NOME_CURTO}}</a>
                    {{/each}}
                </div>
            </div>
				
            <div class="tabs">

                {{#each data.produtos}}
                    <div id="tab{{CB05_ID}}" class="tab {{#if active}}active{{/if}}">
                        <div class="content-block" style="margin: 0px;">
                            <div id="destino-templateProduct{{CB05_ID}}"></div>
                        </div>
                    </div>
               {{/each}}

            </div>

        </script>
        

        <!-- Template detalhe do produto -->
        <script type="text/template" id="templateProduct">

            <!-- Slider (fotos do produto) -->
            <div class="swiper-custom">
                <div class="swiper-container swiper-image-product">
                    <div class="swiper-pagination"></div>
                    <div class="swiper-wrapper" style="color: #000!important">
                        {{#each data.IMG}}
                        <div class="swiper-slide" style="max-height: 272px; min-height: 180px">
                            <img data-src="{{foto CB14_URL}}" class="swiper-lazy">
                            <div class="preloader"></div>
                        </div>
                        {{/each}}
                    </div>
                </div>
                <!-- <div class="swiper-button-prev"></div> -->
                <!-- <div class="swiper-button-next"></div> -->
            </div>

            <div class="content-block" style="
                margin: 0px 0px; 
                padding: 0px;
                z-index: 99!important;
                margin-top: -35px;
                position: absolute;
                color: #FFF;
                padding: 6px;
                font-size: 18px;
                text-shadow: 0.1em 0.1em 0.2em #222">
                <!--<span class="tituloProduto"><h2 style="margin: 5px 0px;"></h2></span>-->
                <!--{{data.IMG[0].CB14_PRODUTO_ID}}-->
                {{data.PRODUTO_DATA.CB04_NOME}}
            </div>

            <div class="content-block" style="
                color: #222;
                padding: 5px;
                margin: 0px;
                text-align: justify;
                font-size: 18px;">
                <strong">{{data.PRODUTO_DATA.CB05_TITULO}}:</strong> 
                {{data.PRODUTO_DATA.CB05_DESCRICAO}}
            </div>

            <!-- Abas (promocoes, info, local) -->
            <div class="content-block" style="margin: 10px 0px 5px 0px; padding: 0px;">
                <div class="buttons-row">
                    <a href="#tab-product-1-{{data.PRODUTO}}" class="show-tab-product-1 tab-link button buttonTabProduct button-primary active">
                        Promoções
                    </a>
                    <a href="#tab-product-2-{{data.PRODUTO}}" class="show-tab-product-2 tab-link button buttonTabProduct button-primary">
                        Regras
                    </a>
                    <a href="#tab-product-3-{{data.PRODUTO}}" class="show-tab-product-3 tab-link button buttonTabProduct button-primary">
                        Local
                    </a>
                </div>
            </div>

            <div class="tabs">
                <div id="tab-product-1-{{data.PRODUTO}}" class="tab active">
                    <div class="content-block" style="margin: 0px; padding: 0px;">
                        <div id="destino-templatePromotions{{data.PRODUTO}}">Promoções</div>
                    </div>
                </div>
                <div id="tab-product-2-{{data.PRODUTO}}" class="tab">
                    <div class="content-block" style="margin: 0px; padding: 0px;">
                        <div id="destino-templateRules{{data.PRODUTO}}">Regras</div>
                    </div>
                </div>
                <div id="tab-product-3-{{data.PRODUTO}}" class="tab">
                    <div class="content-block" style="margin: 0px; padding: 0px;">
                        <div id="destino-templateLocal{{data.PRODUTO}}">Local</div>
                    </div>
                </div>
            </div>

        </script>


        <!-- Template promocoes/variacoes do produto -->
        <script type="text/template" id="templatePromotions">
            {{#each data.PROMOCOES}}
            <div class="list-block media-list promocoes-do-produto" user-data='{"produto":"{{@root.data.PRODUTO}}", "promocao":"{{CB06_ID}}", "valor":"{{real CB06_PRECO_PROMOCIONAL}}", "deVolta":"{{percent CB06_PRECO_PROMOCIONAL CB06_DINHEIRO_VOLTA}}"}'>
              <ul style="padding: 5px;">
                <li>
                  <label class="label-checkbox item-content" style="padding-left: 5px;">
                    <input type="radio" name="promocoes-checkbox" {{checked_html @root.data.PROMOCAO_SELECIONADA this.CB06_ID}}>
                    <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                    <div class="item-inner" style="padding: 0px 2px; margin-left: 5px;">
                      <div class="item-title-row" style="min-height: 60px;">
                        <div class="item-title" style="
                            word-wrap: break-word!important;
                            width: 100%;
                            height: auto;
                            white-space: inherit;">
                            {{CB06_DESCRICAO}}
                        </div>
                        <div class="item-after">
                            <!--<strong class="percCb">CB + {{real CB06_DINHEIRO_VOLTA}}%</strong>-->
                            <div style="font-size: 11px; float: right; text-align: right;">
                                <span style="text-decoration: line-through;">
                                    R$ {{real CB06_PRECO}}
                                </span>
                                <br />
                                <strong style="font-size: 18px; color: #be0000">
                                    R$ {{real CB06_PRECO_PROMOCIONAL}}
                                </strong>    
                            </div>
                        </div>
                      </div>
                      <!--<div class="item-subtitle">{{CB06_TITULO}}</div>-->
                      <div class="item-text" style="border-top: 1px #ededed solid; height: inherit;">

                            <span style="font-size: 12px;">
                                Ganhe de volta 
                                <span class="badge badge-primary badge-square text-uppercase" style="
                                top: 0px!important;
                                right: 0px!important;
                                padding: 9px 6px!important;
                                margin: 5px;
                                background: linear-gradient(to bottom, #1db5e9 0%, #1496c3 100%);
                                font-size: 12px;">
                                    {{real CB06_DINHEIRO_VOLTA}}%
                                </span>
                            </span>
                            <span style="font-size: 12px; float: right; font-weight: bold; padding-top: 5px;">
                                R$ {{percent CB06_PRECO_PROMOCIONAL CB06_DINHEIRO_VOLTA}}
                            </span>
                            <!--
                            <span style="font-size: 11px;">R$ {{real CB06_PRECO}}</span>
                            <strong> R$ {{real CB06_PRECO_PROMOCIONAL}}</strong>
                            -->
                      </div>
                    </div>
                  </label>
                </li>
              </ul>
            </div>
            {{/each}}
        </script>

        <!-- Template regras do produto -->
        <script type="text/template" id="templateRules">
            <blockquote>
                {{data.CB05_IMPORTANTE}}
            </blockquote>
        </script>        

        <!-- Template local do produto -->
        <script type="text/template" id="templateLocal">
            <h2>
                <i class="fa fa-map-marker"></i>
                {{data.CB04_END_LOGRADOURO}} {{data.CB04_END_NUMERO}}, {{data.CB04_END_BAIRRO}}
                <br />
                {{data.CB04_END_CIDADE}} - {{data.CB04_END_UF}}
            </h2>
        </script>  

    </div>
</div>