<div class="pages">
    <div data-page="main" class="page">
        <div class="page-content" style="padding-top: 0px;">
            <div class="list-block" id="destino-templateMain" style="margin: 0px;"></div>
            <a href="filter.html">
                <div class="button button-primary button-fill mb-10" style="display:scroll; position:fixed; bottom:45px; right:5px; z-index: 9999">
                    <i class="fa fa-lg fa-filter"></i>
                </div>
            </a>
        </div>

        <!-- Template -->
        <script type="text/template" id="templateMain">

            {{#each data.estabelecimentos}}
                <a href="company.html?company={{CB04_ID}}&product={{CB05_ID}}">
                    <article style="margin-bottom: -5px;">
                        <div class="author {{#if @first}} primeira-promo {{/if}}">
                            <img src="{{foto CB04_URL_LOGOMARCA}}" alt=""/>
                            <span>
                                <div class="motel-name">{{CB04_NOME}}</div>
                                <div class="short-desc">{{CB04_END_COMPLEMENTO}}</div>
                            </span>
                        </div>
                        <div class="tags promocoes">
                            <span class="badge badge-primary badge-square text-uppercase">
                                <span class="text-cashback">
                                    {{real CB06_DINHEIRO_VOLTA}}%
                                </span>
                            </span>
                        </div>
                        <div class="text">
                            <h2>
                                {{CB05_TITULO}}: {{CB06_DESCRICAO}}
                            </h2>
                        </div>
                        <img class="article-bg" src="{{foto CB14_URL}}" alt=""/>
                    </article>
                </a>
            {{/each}}

        </script>

    </div>
</div>